{% load my_filters %}
{% load static %}

    <script src="{% static 'js/jquery-3.6.0.min.js' %}" type="text/javascript" ></script>
    <link href="{% static 'css/bootstrap-5.0.0-beta3.min.css' %}" rel="stylesheet" type="text/css"  crossorigin>
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css"  crossorigin>
    <div class="wrapper" >
        <div class="head" style="margin-top: 1%;width:25%;margin-left: auto;margin-right: auto;">
            
            <div id="game_head">
                <h1>Side Stacker</h1>
                <h3 id="alert_text">Welcome to room: {{ host_name }}'s room</h3>
                <h3>You are player: {{ player }}</h3>
                <h3 id="timer_redirect" hidden>Redirecting</h3>
            </div>
            
        </div>
        
        <div id = "game_board" >
            
            {% for index in ammount_squares|times %}
                    <div class="square" data-index = '{{ index }}'></div>        
            {% endfor %}
        </div>
        
        <div class="head" style="margin-top: 1%;width:25%;margin-left: auto;margin-right: auto;">
            <div id = "alert_move">Your turn. Place your move <strong>!!!!</strong></div>
            
        </div>
    </div>

    <script>
        window.onload = function() {
            
            $("#game_board").css("grid-template-columns","repeat({{ columns }}, 1fr)")
        };
        var gameBoard2d=[];
        var gameBoard=[] ;
       
        create_game_board({{ rows }},{{ columns }})
  
        function create_game_board(rows,columns){
            for(let i=0;i<columns;i++){
                gameBoard2d.push(new Array(rows).fill(-1))
                for(let kk=0;kk<rows;kk++)
                    gameBoard.push(-1)

            }
        }
        let moveCount = 0;
        let myturn = true;
        var player_tag = "{{ player }}"
        let elementArray = document.getElementsByClassName('square'); 
        var win_flag=false; 
        var end_flag=false; 
        let timer_out=0;          


        function reset(){
            
            window.location.href = "/";
        }
        const SALA_CHAT = '{{ host_name }}';
        console.log('ws://{{ hostip }}/ws/chat/')
        const GAME_SOCKET = new WebSocket('ws://{{ hostip }}/ws/chat/' + SALA_CHAT + '/');
        const REDIRECTION_TIME_OUT=5000;        
        const COLUMNS={{ columns }}
        const ROWS={{ rows }}

        if(player_tag=="X"){
            myturn=false
            document.getElementById("alert_move").style.display = 'none'; // Hide    
        }
        for (var i = 0; i < elementArray.length; i++){
            elementArray[i].addEventListener("click", event=>{
                if(end_flag)
                    return
                if(!myturn){
                    alert("Wait for other to place the move")
                    return
                }
                const index = event.path[0].getAttribute('data-index');
                ask_if_can_stick(index)
            })
        }
        function ask_if_can_stick(index){
            let can_stick=false;
            if(gameBoard[index] == -1){
                

                let row_click=Math.floor(index/ROWS)
                let col_click=index%COLUMNS
                
                if( gameBoard2d[row_click][col_click]==-1){
                    gameBoard2d=get_2dBoard(gameBoard.slice())
                    
                    if(col_click-1<0 || col_click+1==COLUMNS ){
                        can_stick=true
                    }else{

                        if(gameBoard2d[row_click][col_click-1]!=-1 || gameBoard2d[row_click][col_click+1]!=-1){
                            can_stick=true
                        }
                    }
                }else{
                    $("#alert_move").html("This position are bussy!")
                    //CAN'T STICK HHERE IS BUSSY
                }
                if(can_stick) {                            
                    myturn = false;
                    document.getElementById("alert_move").style.display = 'none'; // Hide       
                    document.getElementById("alert_move").innerHTML = 'Your turn. Place your move'; // Hide   
                    
                    make_move(index, player_tag);
                }else{
                    $("#alert_move").html("You can't stick right here!")
                    //CAN'T STICK HHERE
                }
                
            }
        }
        function get_2dBoard(gameBoard_aux){
            let gBoar2d=[]
            for(let i=0;i<gameBoard_aux.length;i++)
            {
                gBoar2d.push(gameBoard_aux.splice(0,COLUMNS ));
            } 
            return gBoar2d
        }

        function make_move(index, player){
            index = parseInt(index);
            let data = {
                "game_event": "MOVE",
                "message": {
                    "text": "MOVE",
                    "index": index,
                    "player": player,
                }
            }
            
            if(gameBoard[index] == -1){
                moveCount++;
                if(player == 'X'){
                    gameBoard[index] = 1;
                    elementArray[index].style.backgroundColor="red"
                }
                else if(player == 'O'){
                    gameBoard[index] = 0;
                    elementArray[index].style.backgroundColor="green"
                }else{
                    alert("Invalid character choice");
                    return false;
                }
                if(end_flag){
                    
                    elementArray[index].innerHTML = player;
                    return false;
                }
                
                ask_if_win(index)

                if(win_flag){                    
                    data.message.text = "PLAYER "+player+" win!!!!!"                       
                    data.game_event= "END"
                }
                
                GAME_SOCKET.send(JSON.stringify(data))
            }
            
            elementArray[index].innerHTML = player;
            
        }
        function ask_if_win(index){
            gameBoard2d=get_2dBoard(gameBoard.slice())
            
            for(let i=0;i<gameBoard2d.length;i++){
                for(let j=0;j<gameBoard2d[0].length;j++){
                    win=[true,true,true,true,true,true, true,true];
                    for(let kk=0;kk<4;kk++)
                        try {  win[0]=win[0]&&gameBoard2d[i-kk][j+kk]==gameBoard[index]} catch{win[0]=false; break; }
                    
                    for(let kk=0;kk<4;kk++)
                        try {  win[1]=win[1]&&gameBoard2d[i][j+kk]==gameBoard[index]} catch{ win[1]=false;break; }
                    
                    for(let kk=0;kk<4;kk++)
                        try {  win[2]=win[2]&&gameBoard2d[i+kk][j+kk]==gameBoard[index]} catch{win[2]=false; break; }

                    for(let kk=0;kk<4;kk++)
                        try { win[3]=win[3] && gameBoard2d[i+kk][j]==gameBoard[index] } catch{win[3]=false; break; }

                    for(let kk=0;kk<4;kk++)
                        try {  win[4]=win[4]&&gameBoard2d[i+kk][j-kk]==gameBoard[index]} catch{win[4]=false; break; }

                    for(let kk=0;kk<4;kk++)
                        try {  win[5]=win[5]&&gameBoard2d[i][j-kk]==gameBoard[index]} catch{win[5]=false; break; }

                    for(let kk=0;kk<4;kk++)
                        try {  win[6]=win[6]&&gameBoard2d[i-kk][j-kk]==gameBoard[index]} catch{win[6]=false; break; }
                    
                    for(let kk=0;kk<4;kk++) 
                        try {  win[7]=win[7]&&(gameBoard2d[i-kk][j]==gameBoard[index])} catch{ win[7]=false; break; }
                
                    for(kk in win){
                        if(win[kk]){
                            win_flag=true
                            end_flag=true
                            break;
                        }
                    
                    }
                    if(win_flag)
                        break
                }    
                
                if(win_flag)
                    break
            }
        }


        /*
        * EVENTOS
        */

        // Conectado
        GAME_SOCKET.addEventListener('open', () => {
            console.log('Connected');
        });
        // Desconectado
        GAME_SOCKET.addEventListener('close', () => {
            console.log('Disconnected');
            
        });

        // Recibir mensaje
        GAME_SOCKET.addEventListener('message', (event) => {
            let data = JSON.parse(event.data);
      
            let message = data['message'];
            let game_event = data["game_event"];
            switch (game_event) {
                case "START":
                    break;
                case "END":
                    end_flag=true
                    if(win_flag){
                        $("#alert_text").html("YOU ARE THE WINNER!")
                        $("#alert_text").css('color','green')

                    }else{
                        $("#alert_text").html("YOU ARE THE LOSER!")
                        $("#alert_text").css('color','red')
                        
                    }
                    if(message["player"] != player_tag){
                        make_move(message["index"], message["player"])
                             
                    }
                   
                    
                    break;
                case "USER_DISCONECTED":
                    
                    $("#alert_text").html(message.text)
                    $("#alert_text").css('color','green')
              
                
                    break;
                case "MOVE":
                    if(message["player"] != player_tag){
                        make_move(message["index"], message["player"])
                        myturn = true;
                        document.getElementById("alert_move").style.display = 'inline';        
                    }
                    break;
                default:
                    console.log("No game event")
                    break;
                    
            }
            if(game_event=="USER_DISCONECTED" || game_event=="END"){
   
                $("#timer_redirect").removeAttr('hidden')
                setTimeout(
                    function(){
                        time_to_redirect(0)
                    },100
                )
            }
            const MI_NUEVA_DATA = JSON.parse(event.data);
        });
        function time_to_redirect(time_elapsed){
      
            time_elapsed=time_elapsed+100
            if(time_elapsed>REDIRECTION_TIME_OUT){
                reset()
            }else{
                let seconds_left=Math.ceil((REDIRECTION_TIME_OUT-time_elapsed)/1000)
                $("#timer_redirect").html("Redirecting to lobby in "+seconds_left.toString())
                setTimeout(
                    function(){

                        time_to_redirect(time_elapsed)
                    },100
                )
            }

        }
    </script>
