{% load my_filters %}
{% load static %}

    <script src="{% static 'js/jquery-3.6.0.min.js' %}" type="text/javascript" ></script>
    <link href="{% static 'css/bootstrap-5.0.0-beta3.min.css' %}" rel="stylesheet" type="text/css"  crossorigin>
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css"  crossorigin>
    <div class="wrapper" >
        <div class="head" style="margin-top: 1%;width:25%;margin-left: auto;margin-right: auto;">
            
            <div id="game_head">
                <h1>Side Stacker</h1>
                <h3 id="alert_text">Welcome to room: {{ host_name }}'s room</h3>
                <h3>You are player: {{ player }}</h3>
                <h3 id="timer_redirect" hidden>Redirecting</h3>
            </div>
            
        </div>
        
        <div id = "game_board" >
            
            {% for index in ammount_squares|times %}
                    <div class="square" data-index = '{{ index }}'></div>        
            {% endfor %}
        </div>
        
        <div class="head" style="margin-top: 1%;width:25%;margin-left: auto;margin-right: auto;">
            <div id = "alert_move">Your turn. Place your move <strong>!!!!</strong></div>
            
        </div>
    </div>

    <script>

        window.onload = function() {
            $("#game_board").css("grid-template-columns","repeat({{ columns }}, 1fr)")
        };
        var gameBoard2d=[];
        var gameBoard=[] ;
       
        create_game_board({{ rows }},{{ columns }})
  
        function create_game_board(rows,columns){
            for(let i=0;i<columns;i++){
                gameBoard2d.push(new Array(rows).fill(-1))
                for(let kk=0;kk<rows;kk++)
                    gameBoard.push(-1)

            }
        }
        let moveCount = 0;
        let myturn = true;
        var player_tag = "{{ player }}"
        let elementArray = document.getElementsByClassName('square'); 
        var win_flag=false;  
        let timer_out=0;          


        function reset(){
            
            window.location.href = "/";
        }
        const SALA_CHAT = '{{ host_name }}';
        const GAME_SOCKET = new WebSocket('ws://127.0.0.1:8000/ws/chat/' + SALA_CHAT + '/');
        const REDIRECTION_TIME_OUT=5000;

        if(player_tag=="X"){
            myturn=false
            document.getElementById("alert_move").style.display = 'none'; // Hide    
        }
        for (var i = 0; i < elementArray.length; i++){
            elementArray[i].addEventListener("click", event=>{
                const index = event.path[0].getAttribute('data-index');
                if(gameBoard[index] == -1){
                    if(!myturn){
                        alert("Wait for other to place the move")
                    }
                    else{
                        myturn = true;
                        document.getElementById("alert_move").style.display = 'none'; // Hide          
                        make_move(index, player_tag);
                    }
                }
            })
        }
        function make_move(index, player){
            index = parseInt(index);
            let data = {
                "game_event": "MOVE",
                "message": {
                    "index": index,
                    "player": player,
                }
            }
            
            if(gameBoard[index] == -1){
                moveCount++;
                if(player == 'X')
                    gameBoard[index] = 1;
                else if(player == 'O')
                    gameBoard[index] = 0;
                else{
                    alert("Invalid character choice");
                    return false;
                }

                gameBoard2d=[]
                gameBoard_aux=gameBoard.slice()
                for(let i=0;i<gameBoard_aux.length;i++)
                {
                    gameBoard2d.push(gameBoard_aux.splice(0,{{ columns }} ));
                } 

                console.log(gameBoard2d.length,gameBoard2d[0].length)
                for(let i=0;i<gameBoard2d.length;i++){
                    for(let j=0;j<gameBoard2d[0].length;j++){
                        win=[true,true,true,true,true,true, true,true];
                        for(let kk=0;kk<4;kk++)
                            try {  win[0]=win[0]&&gameBoard2d[i-kk][j+kk]==gameBoard[index]} catch{win[0]=false; break; }
                        
                        for(let kk=0;kk<4;kk++)
                            try {  win[1]=win[1]&&gameBoard2d[i][j+kk]==gameBoard[index]} catch{ win[1]=false;break; }
                        
                        for(let kk=0;kk<4;kk++)
                            try {  win[2]=win[2]&&gameBoard2d[i+kk][j+kk]==gameBoard[index]} catch{win[2]=false; break; }

                        for(let kk=0;kk<4;kk++)
                            try { win[3]=win[3] && gameBoard2d[i+kk][j]==gameBoard[index] } catch{win[3]=false; break; }

                        for(let kk=0;kk<4;kk++)
                            try {  win[4]=win[4]&&gameBoard2d[i+kk][j-kk]==gameBoard[index]} catch{win[4]=false; break; }

                        for(let kk=0;kk<4;kk++)
                            try {  win[5]=win[5]&&gameBoard2d[i][j-kk]==gameBoard[index]} catch{win[5]=false; break; }

                        for(let kk=0;kk<4;kk++)
                            try {  win[6]=win[6]&&gameBoard2d[i-kk][j-kk]==gameBoard[index]} catch{win[6]=false; break; }
                        
                        for(let kk=0;kk<4;kk++) 
                            try {  win[7]=win[7]&&(gameBoard2d[i-kk][j]==gameBoard[index])} catch{ win[7]=false; break; }
                 
                        for(kk in win){
                            if(win[kk]){
                                console.log("win on conditional",kk)
                                win_flag=true
                                break;
                            }
                        
                        }
                        if(win_flag)
                            break
                    }    
                    
                    if(win_flag)
                        break
                }
                
                if(win_flag){
                    data = {
                        "game_event": "END",
                        "message": 
                            "PLAYER "+player+" win!!!!!"
                        
                    }

                }
                
                GAME_SOCKET.send(JSON.stringify(data))
            }
            
            elementArray[index].innerHTML = player;
            
        }


        /*
        * EVENTOS
        */

        // Conectado
        GAME_SOCKET.addEventListener('open', () => {
            console.log('Connected');
        });
        // Desconectado
        GAME_SOCKET.addEventListener('close', () => {
            console.log('Disconnected');
            
        });

        // Recibir mensaje
        GAME_SOCKET.addEventListener('message', (event) => {
            let data = JSON.parse(event.data);
            console.log('New message',data);
      
            let message = data['message'];
            let game_event = data["game_event"];
            switch (game_event) {
                case "START":
                    break;
                case "END":
                    if(win_flag){
                        $("#alert_text").html("YOU ARE THE WINNER!")
                        $("#alert_text").css('color','green')

                    }else{
                        
                        $("#alert_text").html("YOU ARE THE LOSER!")
                        $("#alert_text").css('color','red')
                    }
                    
                    
                    break;
                case "USER_DISCONECTED":
                    
                    $("#alert_text").html(message)
                    $("#alert_text").css('color','green')
              
                
                    break;
                case "MOVE":
                    if(message["player"] != player_tag){
                        make_move(message["index"], message["player"])
                        myturn = true;
                        document.getElementById("alert_move").style.display = 'inline';        
                    }
                    break;
                default:
                    console.log("No game event")
                    break;
                    
            }
            if(game_event=="USER_DISCONECTED" || game_event=="END"){
                $("#game_board").css("display","none")
                $("#timer_redirect").removeAttr('hidden')
                setTimeout(
                    function(){
                        time_to_redirect(0)
                    },100
                )
            }
            const MI_NUEVA_DATA = JSON.parse(event.data);
        });
        function time_to_redirect(time_elapsed){
      
            time_elapsed=time_elapsed+100
            if(time_elapsed>REDIRECTION_TIME_OUT){
                reset()
            }else{
                let seconds_left=Math.ceil((REDIRECTION_TIME_OUT-time_elapsed)/1000)
                $("#timer_redirect").html("Redirecting to lobby in "+seconds_left.toString())
                setTimeout(
                    function(){

                        time_to_redirect(time_elapsed)
                    },100
                )
            }

        }
    </script>
